<app-navbar-admin></app-navbar-admin>

<div class="c container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <img  src="/assets/img/Logo Slim.png" class="logo">
    </div>
    <div class="col">
    </div>
  </div>
</div>
<div class="opciones container">
  <div class="row">
    <div class="col">
      <img  src="/assets/img/Usuario.png" class="usu">
      <br>
      <button type="submit" class="bton btn btn-primary" routerLink='/usuariosRegistrados'>Usuarios</button>
    </div>
    <div class="col">
      <img  src="/assets/img/hotel.png" class="usu">
      <br>
      <button type="submit" class="bton btn btn-primary" routerLink='/agregarHotel' >Hoteles</button>
    </div>
    <div class="col">
      <img  src="/assets/img/reporte.png" class="usu">
      <br>
      <button type="submit" class="bton btn btn-primary" routerLink='/reportes'>Reportes</button>
    </div>
  </div>
</div>

