.hotel{
  width: 250px;
}

*{
  color:black;
}

.letra{
  font-size: medium;
}

.t{
  box-shadow: 0px 0px 6px 0px lightgray;
}

.g{
  margin-left: 275px;
  max-width: 800px;
}

.logo{
  width: 500px;
  padding-top: 50px;
  margin-left: 125px;
  margin-bottom: 30px;
}

.bton{
  background-color: #efb810;
  margin: 15px;
  margin-left: 5px;
  border: 0px;
  cursor: pointer;
  transition: all 0.5s;
  text-transform: uppercase;
  color: white;
}

.bton:hover{
  border-radius: 10px;
  background: goldenrod;
  color: white;
}

.bton1{
  background-color: #efb810;
  margin: 15px;
  border: 0px;
  cursor: pointer;
  transition: all 0.5s;
  text-transform: uppercase;
  color: white;
}

.bton1:hover{
  border-radius: 10px;
  background: goldenrod;
  color: white;
}

