*{
  color:black;
}

.letra{
  font-size: medium;
  max-width: 200px;
  color: blue;
}

.t{
  box-shadow: 0px 0px 6px 0px lightgray;
}

.bton{
  background-color: #efb810;
  margin-left: 300px;
  border: 0px;
  cursor: pointer;
  transition: all 0.5s;
  text-transform: uppercase;
  color: white;
}

.bton:hover{
  border-radius: 10px;
  background: goldenrod;
  color: white;
}

.hotel{
  max-width: 250px;
  margin-left: -400px;
}

.c{
  margin-left: 100px;
  max-width: 1000px;
}
h2{
  text-align: center;
  padding: 30px;
}

.op{
  font-size: x-large;
}
