*{
  color:black;
}

.letra{
  font-size: medium;
  color: black;
}

.t{
  box-shadow: 0px 0px 6px 0px lightgray;
}

.bton{
  background-color: #efb810;
  margin-left: 300px;
  margin-top: -350px;
  margin-left: 350px;
  border: 0px;
  cursor: pointer;
  transition: all 0.5s;
  text-transform: uppercase;
  color: white;
}

.bton:hover{
  border-radius: 10px;
  background: rgb(255, 36, 36);
  color: white;
}

.bton2{
  background-color: #efb810;
  margin-left: 300px;
  margin-top: -250px;
  min-width: 230px;
  margin-left: 350px;
  border: 0px;
  cursor: pointer;
  transition: all 0.5s;
  text-transform: uppercase;
  color: white;
}

.bton2:hover{
  border-radius: 10px;
  background: goldenrod;
  color: white;
}

.hotel{
  max-width: 250px;
  margin-left: -400px;
}

.c{
  margin-left: 100px;
  max-width: 1000px;
}
h2{
  text-align: center;
  padding: 30px;
  margin-left: 130px;
}

.ji{
  max-width: 400px;
  margin-left: 200px;
}
